---
layout: default
title: About
description: Blake Wolf's professional landing page.
featured_image: /images/blake_bw2.webp
---

<section class="blog single">

	<div class="wrap">
		<article class="blog-post">

			<div class="blog-post__header">
        <h2 class="blog-post__title">About Blake Wolf</h2>
			<div class="blog-post__content">
        <p>Former Senior Software Engineer at Google, I led the YouTube Music Event Tickets Team, driving development of data pipelines and features that significantly boosted concert ticket sales. My Google tenure also included pivotal roles in data center infrastructure and enhancing TensorFlow model analysis tools. Since leaving Google, I am taking time to deepen my expertise in machine learning through self-study and personal projects. My goal is to make significant contributions to the machine learning community.</p>
        <p>Outside of tech, I co-founded a solar farm development company to develop sustainable energy projects. We are now developing our first solar array in California.</p>
			</div>

		</article>
    <!-- Original blog post code:
		{% for post in paginator.posts %}

		<article class="blog-post">

			<div class="blog-post__header">
				<h2 class="blog-post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
				<p class="blog-post__subtitle">{{ post.date | date_to_long_string }}</p>
			</div>

			{% if post.featured_image %}
			<a href="{{ post.url | relative_url }}" class="blog-post__image" style="background-image: url({{ post.featured_image | relative_url }});"></a>
			{% endif %}

			<div class="blog-post__content">
				<p>{{ post.excerpt }}</p>
				<p><a href="{{ post.url | relative_url }}" class="button">Read More</a></p>
			</div>

		</article>

		{% endfor %}
    -->
	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}

</section>

{% endif %}